---
## Default Logstash configuration from Logstash base image.
## https://github.com/elastic/logstash/blob/master/docker/data/logstash/config/logstash-full.yml
#
http.host: "0.0.0.0"
node.name: logstash
xpack.monitoring.elasticsearch.hosts: [ '${ELASTICSEARCH_HOSTS}' ]

################ X-Pack security credentials ###########
xpack.monitoring.enabled: true
xpack.monitoring.elasticsearch.username: ${ELASTICSEARCH_USERNAME:elastic}
xpack.monitoring.elasticsearch.password: ${ELASTICSEARCH_PASSWORD:changeme}